<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li *ngFor="let category of categories" class="nav-item">
              <div class="nav-link" (click)=navigateToCategory(category.categoryId) style="cursor: pointer">
                {{ category.categoryName }}
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  